@import "tailwindcss";

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #b1ff2e;
  --header: #FFFFD3;
  --primary-foreground: #000000;
  --primary-soft: #d7ff94;
  --primary-strong: #2db100;
  --muted: #a0aec0;
  --placeholder: #134B00;
  --border: rgba(0, 0, 0, 0.16);
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --shadow-1: 0 2px 1px -1px rgb(0 0 0 / 0.2),
    0 1px 1px 0 rgb(0 0 0 / 0.14),
    0 1px 3px 0 rgb(0 0 0 / 0.12);
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary:  #b1ff2e;
  --primary-foreground: #000000;
  --primary-soft: #2a3d14;
  --primary-strong: #b1ff2e;
  --muted: #718096;
  --border: rgba(255, 255, 255, 0.16);
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 22.5rem; /* 360px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 90rem; /* 1440px */
  --breakpoint-xl: 120rem; /* 1920px */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-soft: var(--primary-soft);
  --color-primary-strong: var(--primary-strong);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-header: var(--header);
  --color-placeholder: var(--placeholder);
  --font-sans: var(--font-inter);
  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);
  --shadow-elevation-1: var(--shadow-1);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
  font-weight: 500;
}
